body {
    margin: 60px auto;
    width: 60%;
    background-color: #F1D05A;
    background-image: url("/images/honeycombwhite.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: scroll;
}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
a {
    text-decoration: none;
    color: #CA9A51;
}
a:hover {
    text-decoration: underline;
}
.moderate{
  max-width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1 {
    font-size: 2em;
    font-family:'Tahoma', 'Geneva', 'Sans-Serif';
    color: white;
    -webkit-text-stroke: 1.5px #CA9A51;
    margin-bottom : -20px;
}
p {
    font-size: 1.3em;
    line-height: 1.4em;
    font-family:'Tahoma', 'Geneva', 'Sans-Serif';
    color: #CA9A51;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 10px 10px 5px #CA9A51;
    margin-bottom : 40px;
    display : block;
}
.p {
    font-size: 1.3em;
    line-height: 1.4em;
    font-family:'Tahoma', 'Geneva', 'Sans-Serif';
    color: #CA9A51;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 10px 10px 5px #CA9A51;
    margin-bottom : 40px;
    display : block;
}
div{    margin-top : 20px;}
footer {
    border-top: 1px solid #CA9A51;
    font-size: 1em;
    font-family:'Tahoma', 'Geneva', 'Sans-Serif';
    color: #CA9A51;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
